<!-- Top part  Kmail header -->
<app-header (menuClicked)="sidenav.toggle()" (searchChanged)="searchEmails($event)">
</app-header>

<!-- Angular Material sidenav container -->
<mat-sidenav-container class="kmail-container">

  <!-- LEFT SIDEBAR -->
  <mat-sidenav #sidenav mode="side" opened class="kmail-sidenav">

    <!-- Compose button -->
    <button matButton="filled" class="compose-button" (click)="openCompose()">
      <mat-icon>edit</mat-icon>
      Compose
    </button>

    <!-- Inbox -->
    <button mat-button class="menu-item" (click)="openInbox()">
      <mat-icon>inbox</mat-icon>
      <span>Inbox</span>
    </button>

    <!-- test button -->
    <button mat-button class="menu-item" (click)="testIncomingEmails()">
      <!-- <mat-icon>bug_report</mat-icon> -->
      <span>Test Incoming mails</span>
    </button>

    <!-- All Mail -->
    <button mat-button class="menu-item" (click)="openAllMail()">
      <mat-icon>mail</mat-icon>
      <span>All Mail</span>
    </button>

    <!-- star -->
    <button mat-button class="menu-item" (click)="openStarred()">
      <mat-icon>star</mat-icon>
      <span>Starred</span>
    </button>

    <!-- snoozed-->
    <button mat-button class="menu-item">
      <mat-icon>schedule</mat-icon>
      <span>Snoozed</span>
    </button>

    <!-- sent -->
    <button mat-button class="menu-item" (click)="openSent()">
      <mat-icon>send</mat-icon>
      <span>Sent</span>
    </button>

    <!-- drafts -->
    <button mat-button class="menu-item" (click)="openDrafts()">
      <mat-icon>drafts</mat-icon>
      <span>Drafts</span>
    </button>

    <!-- Trash -->
    <button mat-button class="menu-item" (click)="openTrash()">
      <mat-icon>delete</mat-icon>
      <span>Trash</span>
    </button>

  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <!-- TO OPEN SELECTED EMAIL -->
    <!-- If an email is selected, show EmailDetails. Otherwise show the normal email list-->
    @if (selectedEmail) {
    <app-email-details [email]="selectedEmail" (backClicked)="closeEmail()">
    </app-email-details>

    } @else {

        @if (selectedEmails.length > 0) {

         <div class="selection-toolbar">

      <!-- select all -->
      <mat-checkbox
           [checked]="allEmailsSelected()"
           (change)="selectAllEmails($event)">
      </mat-checkbox>

      <!-- archive selected-->
        @if (selectedFolder !== 'trash') {
      <button
        matIconButton
        type="button"
        (click)="archiveSelected()"
         matTooltip="Archive">
        <mat-icon>archive</mat-icon>
      </button>
    }

       <!-- Delete selected -->
          @if (selectedFolder === 'trash') {

              <!-- DELETE FOREVER btn -->
      <button
        matIconButton
        type="button"
        (click)="deleteForeverSelected()"
        matTooltip="Delete forever">
        <mat-icon>delete_forever</mat-icon>
      </button>

    } @else {
       <!-- MOVE TO TRASH -->
      <button
        matIconButton
        type="button"
        (click)="deleteSelected()"
        matTooltip="Delete">
        <mat-icon>delete</mat-icon>
      </button>
    }

    </div>
  }
       <!-- Star selected -->
      <!-- <button
        matIconButton
        type="button"
        (click)="starSelected()">
        <mat-icon>star</mat-icon>
      </button> -->

  <!-- INBOX -->

@if (selectedFolder === 'inbox') {

    <mat-tab-group class="tab-content">

      <!-- PRIMARY EMAILS -->

      <mat-tab label="Primary">
        <div class="email-list">
          @for(email of primaryEmailList; track email.id) {
          <app-email-row 
          [email]="email" 
          (starClicked)="toggleStar($event)" 
          (emailClicked)="openEmail($event)"
          (archiveClicked)="archiveEmail($event)" 
          (deleteClicked)="deleteEmail($event)"
          (checkboxChanged)="checkboxChanged($event)">
          </app-email-row>
          }
          @empty {
          <p class="empty">No primary emails</p>
          } 

        </div>
      </mat-tab>

      <!-- PROMOTIONS -->

      <mat-tab label="Promotions">
        <div class="email-list">
          @for(email of promotionEmails; track email.id) {
          <app-email-row 
          [email]="email" 
          (starClicked)="toggleStar($event)" 
          (emailClicked)="openEmail($event)"
          (archiveClicked)="archiveEmail($event)"
          (deleteClicked)="deleteEmail($event)"
          (checkboxChanged)="checkboxChanged($event)">
          </app-email-row>
          }
          @empty {
          <p class="empty">No promotion emails</p>
          }
        </div>
      </mat-tab>

      <!-- SOCIAL -->

      <mat-tab label="Social">
        <div class="email-list">
          @for(email of socialEmails; track email.id) {
          <app-email-row 
          [email]="email"
           (starClicked)="toggleStar($event)"
            (emailClicked)="openEmail($event)"
            (archiveClicked)="archiveEmail($event)"
            (deleteClicked)="deleteEmail($event)"
            (checkboxChanged)="checkboxChanged($event)">
          </app-email-row>
          }
          @empty {
          <p class="empty">No social emails</p>
          }

        </div>
      </mat-tab>
    </mat-tab-group>

    }


    <!-- ALL MAILS -->

    @if (selectedFolder === 'all') {
    <div class="email-list">
      @for(email of allEmails; track email.id) {

      <app-email-row
       [email]="email"
        (starClicked)="toggleStar($event)"
        (emailClicked)="openEmail($event)"
        (archiveClicked)="archiveEmail($event)"
        (deleteClicked)="deleteEmail($event)"
        (checkboxChanged)="checkboxChanged($event)">
      </app-email-row>

      } @empty {
      <p class="empty">No emails</p>
      }
    </div>
    }

    <!-- SENT EMAILS -->
    @if (selectedFolder === 'sent') {
    <div class="email-list">
      @for(email of sentEmails; track email.id) {
      <app-email-row
       [email]="email"
        (starClicked)="toggleStar($event)"
        (emailClicked)="openEmail($event)"
        (archiveClicked)="archiveEmail($event)"
        (deleteClicked)="deleteEmail($event)"
        (checkboxChanged)="checkboxChanged($event)">
      </app-email-row>
      }

    </div>

    }

    <!-- STARRED EMAILS -->
    @if (selectedFolder === 'starred') {
    <div class="email-list">
      @for(email of starredEmails; track email.id) {
      <app-email-row
       [email]="email"
        (starClicked)="toggleStar($event)"
        (emailClicked)="openEmail($event)"
        (archiveClicked)="archiveEmail($event)"
        (deleteClicked)="deleteEmail($event)"
        (checkboxChanged)="checkboxChanged($event)">
      </app-email-row>
      }
    </div>
    }

    <!-- DRAFTS -->
    @if (selectedFolder === 'drafts') {
    <app-drafts [drafts]="draftEmails" (draftChanged)="draftSent($event)">
      <!-- $event is the draft that was sent -->
    </app-drafts>
    }
    <!-- TRASH -->

    @if (selectedFolder === 'trash') {
    <app-trash 
    [emails]="trashedEmails"
    (checkboxChanged)="checkboxChanged($event)">
    </app-trash>
    }

    }

  </mat-sidenav-content>

</mat-sidenav-container>