.sidenav-container {
  height: calc(100vh - 70px);
}

.sidenav {
  width: 230px;
  padding: 20px 10px;
}

.compose-button {
  width: 140px;
  margin-bottom: 20px;
  height: 50px;
}

.menu-item {
  width: 100%;
  justify-content: flex-start;
  text-align: left;

  margin-bottom: 5px;

  border-radius: 20px;
}

.menu-item mat-icon {
  margin-right: 15px;
}

.sidenav-content {
  padding: 25px;
}