<div
  class="email-row"
  [class.unread]="!email().read"
  (click)="onEmailClick()">

  <!-- Checkbox -->
  <!-- <mat-checkbox (click)="onCheckboxClick($event)"></mat-checkbox> -->
   <mat-checkbox
    [checked]="email().selected"
    (click)="onCheckboxClick($event)"
    (change)="onCheckboxChange($event)">
</mat-checkbox>

  <!-- Star -->
   @if(showStar()) {

  <button
    matIconButton
    type="button"
    (click)="onStarClick($event)"
    class="starBtn"
    [class.starred]="email().starred">
    <mat-icon>{{ email().starred ? 'star' : 'star_border' }}</mat-icon>
  </button>

   }

  <!-- Sender -->
  <span class="sender">{{ email().sender }}</span>

  <!-- Subject + Message -->
  <div class="email-content">
    <span class="subject"> {{ email().subject }} </span>
    <span class="message"> - {{ email().message }} </span>
  </div>


 <!-- Date -->
<span class="date">
  {{ displayDate(email().date) }}
</span>

  <!-- Icon actions (arhieve,delete)-->
<div class="email-actions">

  <!-- Archive -->
   @if (showArchive()) {
  <button 
    matIconButton 
    type="button" 
    (click)="onArchiveClick($event)">
    <mat-icon>archive</mat-icon>
  </button>
  }

  <!-- Delete -->
   @if (showDelete()) {
  <button 
    matIconButton 
    type="button" 
    (click)="onDeleteClick($event)">
    <mat-icon>delete</mat-icon>
  </button>
}

</div>
</div>