.email-row {
  display: flex;
  align-items: center;
  min-height: 50px;
  border-bottom: 1px solid #ddd;
  padding: 0 15px;
  box-sizing: border-box;
  cursor: pointer;
}

.email-row:hover {
  background-color: #f5f5f5;
}

.sender {
  width: 150px;
  font-weight: 500;
  margin-left: 10px;
}

.email-content {
  flex: 1;
  overflow: hidden;
}

.subject {
  font-weight: 500;
}

.message {
  color: #777;
  margin-left: 5px;
}

.date {
  width: 100px;
  text-align: right;
  font-size: 13px;
  color: #555;
}

.email-row button {
  margin-right: 5px;
}

.email-row.unread {
  font-weight: 700;
}

.email-row.unread .message {
  font-weight: 400;
}

.email-row.unread .email-date {
  font-weight: 700;
}
.email-actions {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.email-actions button {
  margin-right: 0;
}
.starBtn {
  color: #999;
}
.starBtn.starred {
  color: #f4b400;
}

//===
:host {
  display: block;
}

.email-row {
  position: relative;
}

.email-row:has(mat-checkbox.mat-mdc-checkbox-checked) {
  background-color: #e8f0fe;
}

.email-row.unread .sender,
.email-row.unread .subject,
.email-row.unread .message,
.email-row.unread .date {
  font-weight: 600;
}
.email-row.unread {
  background-color: #f2f6fc;
}

//snooze styling

// Snoozed email indicator
.snoozed-label {
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: #e67e22;
  font-size: 13px;
  font-weight: 500;
  white-space: nowrap;  // prevents text from wrapping to a new line, 
  //forcing it to stay on a single continuous line even if it overflows its container.
  //cursor: default;
}

// Snoozed icon + text
.snoozed-text {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 7px;
  border-radius: 6px;
}

.snoozed-text mat-icon {
  font-size: 17px;
  width: 17px;
  height: 17px;
}

// Hide snooze time normally
.snoozed-time {
  display: none;
  margin-left: 5px;
  padding: 4px 8px;
  border-radius: 6px;
  background-color: #fff3e0;
  color: #d66a00;
  font-size: 12px;
}

// Show time when hovering
.snoozed-label:hover .snoozed-time {
  display: inline-block;
}

.snooze-title {
  padding: 12px 16px 8px;
  font-size: 14px;
  font-weight: 600;
  color: #555;
}