<div
  class="email-row"
  [class.unread]="!email().read"
  (click)="onEmailClick()">

  <!-- Checkbox -->
  <!-- <mat-checkbox (click)="onCheckboxClick($event)"></mat-checkbox> -->
   <mat-checkbox
    [checked]="email().selected"
    (click)="onCheckboxClick($event)"
    (change)="onCheckboxChange($event)">
</mat-checkbox>

  <!-- Star -->
   @if(showStar()) {

  <button
    matIconButton
    type="button"
    (click)="onStarClick($event)"
    class="starBtn"
    [class.starred]="email().starred">
    <mat-icon>{{ email().starred ? 'star' : 'star_border' }}</mat-icon>
  </button>

   }

  <!-- Sender -->

  @if(email().category === 'draft') {
    <span class="sender draft-sender"> Draft </span>
  } @else {
    <span class="sender">{{ email().sender }}</span> 
  }

  <!-- Subject + Message -->
  <div class="email-content">
    <span class="subject"> {{ email().subject }} </span>
    <span class="message"> - {{ email().message }} </span>
  </div>


 <!-- Date -->
<span class="date">
  {{ displayDate(email().date) }}
</span>

<!-- show snooze right side of email -->
@if (email().snoozed) {
  <span class="snoozed-label">

    <span class="snoozed-text">
      <mat-icon>schedule</mat-icon>
      <!-- <span>Snoozed</span> -->
    </span>

    <!-- <span class="snoozed-time">
      until {{ getSnoozeTime(email().snoozedUntil) }}
    </span> -->
    <span> {{getSnoozeMessage(email().snoozedUntil)}}</span>

  </span>
}

  <!-- Icon actions (arhieve,delete)-->
<div class="email-actions">

  <!-- Archive -->
   @if (showArchive()) {
  <button 
    matIconButton 
    type="button" 
    (click)="onArchiveClick($event)">
    <mat-icon>archive</mat-icon>
  </button>
  }

  <!-- Snooze -->
  <button
  matIconButton
  type="button"
  [matMenuTriggerFor]="snoozeMenu"
  matTooltip="Snooze"
  (click)="$event.stopPropagation()">
  <mat-icon>schedule</mat-icon>
</button>

<!-- SNOOZE dropdown -->

<mat-menu #snoozeMenu="matMenu">

  <div class="snooze-title">
    Snooze until
  </div>

  <button
    mat-menu-item
    (click)="selectSnoozeTime(1)">
    <mat-icon>schedule</mat-icon>
    <span>1 hour from now</span>
  </button>

  <button
    mat-menu-item
    (click)="selectSnoozeTime(4)">
    <mat-icon>schedule</mat-icon>
    <span>4 hours from now</span>
  </button>

  <button
    mat-menu-item
    (click)="snoozeTomorrow()">
    <mat-icon>event</mat-icon>
    <span>Tomorrow at 8:00 AM</span>
  </button>

  <button
    mat-menu-item
    (click)="snoozeNextWeek()">
    <mat-icon>date_range</mat-icon>
    <span>Next Monday at 8:00 AM</span>
  </button>

</mat-menu>

  <!-- Delete -->
   @if (showDelete()) {
  <button 
    matIconButton 
    type="button" 
    (click)="onDeleteClick($event)">
    <mat-icon>delete</mat-icon>
  </button>
}

</div>
</div>