<div class="forgot-header">
    <h2>Reset your K Account password</h2>
    <button
        matIconButton
        type="button"
        class="crossBtn"
        (click)="closeDialog()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<form [formGroup]="forgotForm">

    @if (currentStep === 1) {

        <p class="info">
            Enter your Kmail email address to find your account.
        </p>

        <mat-form-field
            appearance="outline"
            class="material-field">

            <mat-label>Email</mat-label>

            <input
                matInput
                type="email"
                formControlName="email"
                placeholder="Ex. pat@kmail.com">

            @if (
                forgotForm.controls.email.touched &&
                forgotForm.controls.email.hasError('required')
            ) {

                <mat-error>
                    *Email is required
                </mat-error>

            }

            @if (
                forgotForm.controls.email.touched &&
                forgotForm.controls.email.hasError('email')
            ) {

                <mat-error>
                    *Enter a valid email
                </mat-error>

            }

            @if (
                forgotForm.controls.email.touched &&
                forgotForm.controls.email.hasError('pattern')
            ) {

                <mat-error>
                    *Email must end with @kmail.com
                </mat-error>

            }

        </mat-form-field>

        @if (accountNotFound) {
            <div class="not-found">
                <p> *Couldn't find an account with this kmail.</p>
                <button
                    type="button"
                    mat-button
                    routerLink="/create">
                    Create a new account
                </button>
            </div>
        }


        <div class="buttons">

            <button
                type="button"
                matButton="filled"
                (click)="findAccount()">
                Find account
            </button>

            <button
                type="button"
                mat-button
                (click)="backToSignIn()"
                routerLink="/signin">
                Back to Sign in
            </button>

        </div>

    }

 @if (currentStep === 2) {

    <p class="info">
        Create a new password for your account.
    </p>


    <!-- NEW PASSWORD -->

    <mat-form-field
        appearance="outline"
        class="material-field">

        <mat-label>New password</mat-label>

        <input
            matInput
            [type]="hidePassword() ? 'password' : 'text'"
            formControlName="password"/>
            <button
                matIconButton
                 matSuffix
                 type="button"
                (click)="clickPassword($event)"
                 [attr.aria-label]="'Show password'"
                [attr.aria-pressed]="!hidePassword()">

                <mat-icon>
                    {{ hidePassword() ? 'visibility_off' : 'visibility' }}
                 </mat-icon>
                </button>

        @if (
            forgotForm.controls.password.touched &&
            forgotForm.controls.password.hasError('required')
        ) {
            <mat-error>
                *Password is required
            </mat-error>
        }

        @if (
            forgotForm.controls.password.touched &&
            forgotForm.controls.password.hasError('minlength')
        ) {
            <mat-error>
                *Password must be at least 6 characters
            </mat-error>
        }

    </mat-form-field> 

    <!-- CONFIRM PASSWORD -->

    <mat-form-field
        appearance="outline"
        class="material-field">
        <mat-label>Confirm password</mat-label>
       <input
             matInput
            [type]="hideConfirmPassword() ? 'password' : 'text'"
            formControlName="confirmPassword"
            (input)="checkConfirmPassword()"/>

        <button
         matIconButton
         matSuffix
        type="button"
        (click)="clickConfirmPassword($event)"
        [attr.aria-label]="'Show confirm password'"
        [attr.aria-pressed]="!hideConfirmPassword()">

        <mat-icon>
        {{ hideConfirmPassword() ? 'visibility_off' : 'visibility' }}
        </mat-icon>
        </button>

        @if ( forgotForm.controls.confirmPassword.touched &&
            forgotForm.controls.confirmPassword.hasError('required')) {
            <mat-error>
                *Confirm password is required
            </mat-error>
        }

        @if ( forgotForm.controls.confirmPassword.touched &&
            !forgotForm.controls.confirmPassword.hasError('required') &&
            !checkPasswordMatch()) {
            <mat-error>
                *Passwords do not match
            </mat-error>
        }

    </mat-form-field>


    <!-- BUTTONS -->

    <div class="buttons">

        <button
            type="button"
            matButton="filled"
            (click)="resetPassword()"
             [disabled]="forgotForm.controls.password.invalid ||
                forgotForm.controls.confirmPassword.invalid ||
                !checkPasswordMatch()" >
            Reset password
        </button>
    
        <button
            type="button"
            mat-button
            routerLink="/signin">
            Back to Sign in
        </button>

    </div>

}

</form>