<ul class="header">
    <li class="logo">
        <h1>Kmail</h1>
    </li>
    <div class="header-buttons">

         <!-- SHOW SIGN IN IF USER IS NOT LOGGED IN -->
    @if (!isLoggedIn) {
        <li><button routerLink="/signin"> Sign in </button></li>
    }
    
    <!-- SHOW USERNAME IF USER IS LOGGED IN -->
    @if (isLoggedIn) {
        <!-- <li>
            <span class="username">  {{ userName }} signed In</span>
        </li> -->
        <li>
    <button
        type="button"
        class="username"
        (click)="openKmailHome()">
        {{ userName }}'s Account
    </button>
</li>
    }
    
        <li><button (click)="createAccount()"> Create account </button></li>
    </div>
</ul>

<hr>

<h2>AI-powered email for everyone</h2>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Animi voluptatibus unde, distinctio a quam ad? Atque,
    dicta quo! Iusto reprehenderit sequi rem totam et earum
    consectetur iste, quasi fugit.
</p>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Animi voluptatibus unde, distinctio a quam ad? Atque,
    dicta quo! Iusto reprehenderit sequi rem totam et earum
    consectetur iste, quasi fugit.
</p>