<div class="compose-container"
    [class.minimized]="isMinimized"
    [class.maximized]="isMaximized">

    <!-- HEADER -->
    <div class="compose-header">

    <h2>
        @if (data?.mode === 'reply') {
        Reply
        } @else if (data?.mode === 'forward') {
        Forward
        } @else {
        New Message
        }
    </h2>

    <div class="header-buttons">

        <!-- MINIMIZE -->
        <button
            mat-icon-button
            type="button"
            (click)="minimizeCompose()">
            <mat-icon>remove</mat-icon>
        </button>

        <!-- MAXIMIZE -->
        <button
            mat-icon-button
            type="button"
            (click)="maximizeCompose()">
            <mat-icon>
                {{ isMaximized ? 'fullscreen_exit' : 'fullscreen' }}
            </mat-icon>
        </button>

        <!-- CLOSE -->
        <button
            mat-icon-button
            type="button"
            (click)="closeDialog()">
            <mat-icon>close</mat-icon>
        </button>

    </div>

</div>

    <form 
    [formGroup]="composeForm" 
    (ngSubmit)="sendEmail()">

        <!-- FROM -->
        @if (showFrom) {
        <mat-form-field appearance="outline" class="compose-field">
            <mat-label>From</mat-label>
            <input matInput type="email" formControlName="from" readonly />
        </mat-form-field>
        }

        <!-- TO -->
        <mat-form-field appearance="outline" class="compose-field">
            <mat-label>To</mat-label>

            <!-- email ids chips style material -->
             <mat-chip-grid #chipGrid aria-label="Email recipients">
                 @for (recipient of recipients; track recipient) {

            <mat-chip-row (removed)="removeRecipient(recipient)">
                {{ recipient }}
                <button
                    matChipRemove
                    type="button"
                    [attr.aria-label]="'Remove ' + recipient">
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip-row>
        }

        <input
            placeholder="recipient@kmail.com"
            [matChipInputFor]="chipGrid"
            (matChipInputTokenEnd)="addRecipient($event)"
            (focus)="showFrom = true" />

    </mat-chip-grid>

    @if (recipients.length === 0 && composeForm.controls.to.touched) {
        <mat-error>
            *Recipient email is required
        </mat-error>
    }
     </mat-form-field>

        <!-- SUBJECT -->
        <mat-form-field appearance="outline" class="compose-field">
            <mat-label>Subject</mat-label>
            <input matInput type="text" formControlName="subject" placeholder="Subject" />

            @if ( composeForm.controls.subject.touched &&
            composeForm.controls.subject.hasError('required')
            ) {
            <mat-error>
                *Subject is required
            </mat-error>
            }
        </mat-form-field>

        <!-- MESSAGE -->
        <mat-form-field appearance="outline" class="compose-field">
            <mat-label>Message</mat-label>
            <textarea matInput rows="8" formControlName="message" placeholder="Write your message...">
       </textarea>

            @if (composeForm.controls.message.touched &&
            composeForm.controls.message.hasError('required')
            ) {

            <mat-error>
                *Message is required
            </mat-error>
            }
        </mat-form-field>

        <!-- COMPOSE ACTIONS -->
         
      @if (selectedFiles.length > 0) {

    <div class="selected-files">
        @for (file of selectedFiles; track file.name; let i = $index) {

            <div class="selected-file">
                <mat-icon>attach_file</mat-icon>
                <span>{{ file.name }}</span>

                <button
                    mat-icon-button
                    type="button"
                    (click)="removeFile(i)">
                    <mat-icon>close</mat-icon>
                </button>

            </div>

        }

    </div>
}

        <div class="compose-actions">

            <button matButton="filled" type="submit" [disabled]="composeForm.invalid">Send</button>
             <!-- ATTACHMENT -->
             <button
                 matIconButton
                 type="button"
                 class="attach-button"
                (click)="fileInput.click()">
                 <mat-icon>attach_file</mat-icon>
            </button>
            
             <!--  HIDDEN FILE INPUT -->
            <input 
            #fileInput 
            type="file"
             hidden 
             multiple
             (change)="onFileSelected($event)" />
            <!-- why #fileInput ? gives the file input a temporary name -->
        </div>

    </form>
</div>